.main {
  width: 241px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  display: flex;
}
.main input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  display: block;
}
.main > div {
  border: 1px solid rgb(222, 226, 230);
  min-width: 50px;
  font-size: 12px;
  border-radius: 2px;
  padding: 4px;
}
