.main {
  width: 241px;
  border: 1px solid rgb(206, 212, 218);
  border-radius: 4px;
  background-color: rgb(255, 255, 255);
  padding: 6px 12px;
  padding-right: 24px;
  position: relative;
}
.main input {
  border: none;
  outline: none;
  font-size: 16px;
  flex: 1;
  display: block;
}
.main > div {
  border: 1px solid rgb(222, 226, 230);
  min-width: 50px;
  font-size: 12px;
  border-radius: 2px;
  padding: 4px;
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
}

.focus {
  border-color: #7952b3;
  box-shadow: 0 0 0 3px rgb(121 82 179 / 25%);
}
